<!-- <button (click)="toggle()">toggle</button> -->
    <div class="clock">
      <div class="analog-clock">
        <div class="hour hand" [ngStyle]="hourHandStyle"></div>
        <div class="minute hand" [ngStyle]="minuteHandStyle"></div>
        <div class="second hand" [ngStyle]="secondHandStyle"></div>
        <div class="center-circle"></div>
      </div>
      <div class="digital-clock">{{format(hour)}}:{{format(minute)}}:{{format(second)}}</div>
    </div>



    <div class="cloc">
      <div class="time">
        <section id="one">
        </section>
        <section id="two">
        </section>
        <section id="three">
        </section>
        <section id="four">
        </section>
        <section id="five">
        </section>
        <section id="six">
        </section>
        <section id="seven">
        </section>
        <section id="eight">
        </section>
        <section id="nine">
        </section>
        <section id="ten">
        </section>
        <section id="eleven">
        </section>
        <section id="twelve">
        </section>
      </div> <!-- end class "time" -->
